#Required
PyYAML==6.0.2
aws-cdk-lib==2.214.0
boto3==1.40.30
constructs==10.4.2
uuid-extension==0.2.0

#Dependancies
attrs==25.3.0
# aws-cdk.asset-awscli-v1
# aws-cdk.asset-node-proxy-agent-v6
# aws-cdk.cloud-assembly-schema
botocore==1.40.30
cattrs==25.2.0
importlib_resources==6.5.2
jmespath==1.0.1
jsii==1.114.1
publication==0.0.3
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.17.0
typeguard==2.13.3
typing_extensions==4.15.0
urllib3==2.5.0
