openapi: 3.1.0
info:
  title: Eidolon Engine Incremental Game API
  description: RESTful API for the Eidolon Engine incremental game mode. All endpoints require authentication via AWS Cognito and return JSON responses with PascalCase keys.
  version: 1.0.0
  contact:
    name: Jason E. Robinson
    email: contact@darkrelics.net
  license:
    name: Proprietary
    
servers:
  - url: https://api.darkrelics.net/incremental
    description: Production server
security:
  - CognitoAuth: []

tags:
  - name: Archetypes
    description: Character archetype operations
  - name: Characters
    description: Character management operations

paths:
  /archetypes:
    get:
      tags:
        - Archetypes
      summary: Get available archetypes
      description: Retrieves all player-available archetypes for character creation. Results are cached at the Lambda level for performance.
      operationId: getArchetypes
      responses:
        '200':
          description: Successfully retrieved archetypes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchetypesResponse'
              examples:
                knightExample:
                  summary: Example with Knight archetype
                  value:
                    Archetypes:
                      - ArchetypeName: Knight
                        Description: A stalwart defender skilled in combat and honor
                        Attributes:
                          Strength: 8
                          Agility: 5
                          Endurance: 7
                          Charisma: 6
                          Intrigue: 3
                          Presence: 7
                          Perception: 4
                          Intelligence: 4
                          Cunning: 3
                        Skills:
                          Melee: 10
                          Parry: 8
                          Dodge: 4
                        Health: 12
                        Essence: 3
                        StartRoom: 100
                        StartingItems:
                          - PrototypeID: sword_basic
                            Slot: "1"
                            IsWorn: false
                        AvailableStories:
                          - story_knight_honor
                          - story_common_intro
                    Count: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /characters:
    get:
      tags:
        - Characters
      summary: List player characters
      description: Retrieves a list of all characters belonging to the authenticated player. Returns minimal information suitable for character selection.
      operationId: listCharacters
      responses:
        '200':
          description: Successfully retrieved character list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterListResponse'
              examples:
                multipleCharacters:
                  summary: Player with multiple characters
                  value:
                    Characters:
                      - CharacterName: Aragorn
                        CharacterID: 550e8400-e29b-41d4-a716-446655440000
                        Dead: false
                      - CharacterName: Boromir
                        CharacterID: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                        Dead: true
                emptyList:
                  summary: New player with no characters
                  value:
                    Characters: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                Error: "Player not found"
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    CognitoAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: AWS Cognito JWT token

  schemas:
    Error:
      type: object
      required:
        - Error
      properties:
        Error:
          type: string
          description: Human-readable error message
          example: "Failed to load archetypes"

    ArchetypesResponse:
      type: object
      required:
        - Archetypes
        - Count
      properties:
        Archetypes:
          type: array
          description: List of available player archetypes
          items:
            $ref: '#/components/schemas/Archetype'
        Count:
          type: integer
          description: Total number of archetypes returned
          minimum: 0
          example: 5

    CharacterListResponse:
      type: object
      required:
        - Characters
      properties:
        Characters:
          type: array
          description: List of characters owned by the player
          items:
            $ref: '#/components/schemas/CharacterInfo'

    CharacterInfo:
      type: object
      required:
        - CharacterName
        - CharacterID
        - Dead
      properties:
        CharacterName:
          type: string
          description: Display name of the character
          example: Aragorn
          minLength: 1
          maxLength: 50
        CharacterID:
          type: string
          description: Unique identifier (UUID) for the character
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        Dead:
          type: boolean
          description: Whether the character has died
          example: false

    Archetype:
      type: object
      required:
        - ArchetypeName
        - Description
        - Attributes
        - Skills
        - Health
        - Essence
        - StartRoom
        - StartingItems
        - AvailableStories
      properties:
        ArchetypeName:
          type: string
          description: Unique identifier and display name for the archetype
          example: Knight
          minLength: 1
          maxLength: 50
        Description:
          type: string
          description: Flavor text describing the archetype
          example: A stalwart defender skilled in combat and honor
          maxLength: 500
        Attributes:
          $ref: '#/components/schemas/AttributeMap'
        Skills:
          $ref: '#/components/schemas/SkillMap'
        Health:
          type: integer
          description: Starting maximum health points
          minimum: 1
          maximum: 100
          example: 12
        Essence:
          type: integer
          description: Starting maximum essence (mana) points
          minimum: 0
          maximum: 50
          example: 3
        StartRoom:
          type: integer
          description: Room ID where new characters of this archetype begin
          minimum: 0
          example: 100
        StartingItems:
          type: array
          description: List of items the character starts with
          items:
            $ref: '#/components/schemas/StartingItem'
        AvailableStories:
          type: array
          description: List of story IDs available to this archetype
          items:
            type: string
            pattern: '^story_[a-z_]+$'
            example: story_knight_honor

    AttributeMap:
      type: object
      description: Map of attribute names to their starting values
      properties:
        Strength:
          type: number
          minimum: 0
          maximum: 20
        Agility:
          type: number
          minimum: 0
          maximum: 20
        Endurance:
          type: number
          minimum: 0
          maximum: 20
        Charisma:
          type: number
          minimum: 0
          maximum: 20
        Intrigue:
          type: number
          minimum: 0
          maximum: 20
        Presence:
          type: number
          minimum: 0
          maximum: 20
        Perception:
          type: number
          minimum: 0
          maximum: 20
        Intelligence:
          type: number
          minimum: 0
          maximum: 20
        Cunning:
          type: number
          minimum: 0
          maximum: 20
      additionalProperties: false
      example:
        Strength: 8
        Agility: 5
        Endurance: 7
        Charisma: 6
        Intrigue: 3
        Presence: 7
        Perception: 4
        Intelligence: 4
        Cunning: 3

    SkillMap:
      type: object
      description: Map of skill names to their starting values
      additionalProperties:
        type: number
        minimum: 0
        maximum: 100
      example:
        Melee: 10
        Parry: 8
        Dodge: 4

    StartingItem:
      type: object
      required:
        - PrototypeID
        - Slot
        - IsWorn
      properties:
        PrototypeID:
          type: string
          description: ID of the item prototype to create
          pattern: '^[a-z_]+$'
          example: sword_basic
        Slot:
          type: string
          description: Inventory slot where the item is placed
          pattern: '^[0-9]+$'
          example: "1"
        IsWorn:
          type: boolean
          description: Whether the item starts equipped
          example: false

  responses:
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            Error: "Unauthorized"
    
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            Error: "Failed to load archetypes"